@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3b82f6;
  border-radius: 9999px;
  cursor: pointer;
}

.dot::after {
  content: "";
  position: absolute;
  inset: -6px;
  border: 2px solid #3b82f6;
  border-radius: 9999px;
  opacity: 0.5;
  animation: pulse 1.5s infinite;
}

.india {
  top: 44%;
  left: 62.5%;
}

.usa {
  top: 30%;
  left: 28%;
}

.europe {
  top: 28%;
  left: 51%;
}

@keyframes pulse {
  0% { transform: scale(0.8); opacity: 0.6; }
  70% { transform: scale(1.4); opacity: 0; }
  100% { opacity: 0; }
}

/* TOOLTIP */
.tooltip {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.2s;
}

.group:hover .tooltip {
  opacity: 1;
}

